*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body,html{
    background-color: black;
}
.container{
    width: 600px;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    
    background-color: white;
    padding: 20px;
    border-radius: 20px;
}
.container form{
    margin-top:10px ;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}
.container form .user{
    width: 100%;

}
.container form input,textarea{
    position: relative;
    border: none;
    font-size: 16px;
    margin-bottom: 5px;
    padding: 20px;
    width: 100%; /* Adjust width to account for padding */
    border-bottom: 2px solid black; /* Add underline effect directly */
    margin-bottom: 10px;
    position: relative;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.container form input:focus {
    outline: none; /* Remove default focus outline */
}
.container form input::after{
   
}
.container form input:active{
    border: none;
}
button{
    width:90px;
    font-size: 16px;
    padding: 8px;
    background-color: blueviolet;
    border: none;
    font-weight: 500;
    border-radius: 20px;
    margin-top: 20px;
    transform: scale(1);
    transition-property:transform;
    transition-duration: 0.9s;
    transition-timing-function: ease-in;
}

.container form button:hover{
    transform: scale(1.2);
}
@media(max-width:576px)
{
    .container{
        width: 90%;
    }
}
span i{
   color: green;
    
}
span{
color: red;
}
